/* ChatRoom.css */

/* Chat container */
.chat-container {
    width: 400px;
    margin: 0 auto;
  }
  
  /* Chat messages */
  .chat-messages {
    list-style-type: none;
    padding: 0;
  }

  h2{
    color:  #f0f0f0;
  }
  
  .chat-message {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 8px;
  }
  
  .chat-message strong {
    color: #333;
  }
  
  /* Message input */
  .message-input {
    display: flex;
    margin-top: 20px;
  }
  
  .message-input input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .message-input button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .message-input button:hover {
    background-color: #0056b3;
  }
  