

.content-container {
  margin-top: 0px;
  height: '100%';
  background-color: #c5f8bf; 
  color: rgb(30, 37, 31); 
}

table {
  width: 90%;
  border-collapse: collapse;
  border-spacing: 10px;
  /*border: 1px solid rgb(218, 122, 122);*/
}

th {
  font-family: Times New Roman, serif;
  padding: 10px;
  border: 1px solid #cecead;
}

td {
  padding: 10px;
  border: 1px solid #cecead;
}

.zoom-effect:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  transition: transform 0.4s ease; /* Add a smooth transition for the zoom effect */
  background-color: rgb(24, 13, 180);
}


h1 {
  font-family: Times New Roman, serif;
  margin-top: 0; /* Remove any top margin */
}

.domain-filter {
  margin-bottom: 20px;
}

.domain-filter p {
  margin-bottom: 5px;
}

.domain-filter div {
  display: flex;
  flex-wrap: wrap; 
}

.domain-filter span {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  text-decoration: none;
  text-emphasis-color: black;
  color: black;
  background-color: rgb(157, 183, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.domain-filter span:hover {
  background-color: #616918;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}
