
.project-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #7ecbe5;
}

.project-container h3 {
  margin-top: 0;
}

.project-container p {
  margin-bottom: 10px;
}

.project-container a {
  color: #007bff;
  text-decoration: none;
}

.project-container a:hover {
  text-decoration: underline;
}

.loading-text {
  font-style: italic;
}

.file-loading-text {
  font-style: italic;
}